<div class="fichiers-container">
  <div class="fichiers-list">
    <div class="header">
      <h1>Déclarations BA Archivées</h1>
      <button class="export-excel-btn">
        <i class="fas fa-file-excel"></i> Exporter en Excel
      </button>
    </div>
    <div class="filters">
      <div class="search-box">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Rechercher une déclaration..." [(ngModel)]="searchTerm" (input)="onSearch()">
      </div>
      <div class="date-filters">
        <div class="date-input">
          <label>Du:</label>
          <input type="date" [(ngModel)]="dateDebut" (change)="filtrerParDate()">
        </div>
        <div class="date-input">
          <label>Au:</label>
          <input type="date" [(ngModel)]="dateFin" (change)="filtrerParDate()">
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <div *ngIf="isLoading" class="text-center p-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Chargement...</span>
        </div>
        <p class="mt-2">Chargement des déclarations archivées...</p>
      </div>
      
      <div *ngIf="!isLoading && errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      
      <table *ngIf="!isLoading" class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Fichier de correction</th>
            <th>Fichier de suppression</th>
            <th>Source</th>
            <th>Date Génération</th>
            <th>Générateur</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fichier of fichiersPagines" class="clickable-row">
            <td >{{fichier?.nomFichierCorrection || 'N/A'}}</td>
            <td >{{fichier?.nomFichierSuppression || 'N/A'}}</td>
            <td >{{fichier?.nomFichierExcelSource || 'N/A'}}</td>
            <td>{{fichier?.dateHeureGenerationXml | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{fichier?.nomUtilisateurGenerateur || 'N/A'}}</td>
          </tr>
          <tr *ngIf="fichiersPagines.length === 0 && !errorMessage">
            <td colspan="6" class="no-data">Aucune déclaration trouvée</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination-container">
      <app-pagination
        [lignesTotales]="fichiersFiltres.length"
        [pageActuelle]="pageActuelle"
        (changeurPage)="changerPage($event)">
      </app-pagination>
    </div>
  </div>
</div> 